<template>
  <highcharts :options="chartOptions" />
</template>

<script>
/* eslint-disable */
export default {
  data () {
    return {
      chartOptions: {
        chart: {
          type: 'bar'
        },
        title: {
          text: 'eHealth4everyone'
        },
        xAxis: {
          categories: ['A', 'B', 'AB', 'O'],
          title: {
            text: 'Blood group'
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Population (hundred)',
            align: 'high'
          },
          labels: {
            overflow: 'justify'
          }
        },
        tooltip: {
          valueSuffix: ' person(s)'
        },
        plotOptions: {
          bar: {
            dataLabels: {
              enabled: true
            }
          }
        },
        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -40,
          y: 80,
          floating: true,
          borderWidth: 1,
          // backgroundColor: Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
          shadow: true
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'AGE 0 - 25',
          data: this.$store.getters.getPatientsAge0to25
        }, {
          name: 'AGE 26 - 35',
          data: this.$store.getters.getPatientsAge26to35
        }, {
          name: 'AGE 36 - 45',
          data: this.$store.getters.getPatientsAge36to45
        }, {
          name: 'AGE 46 - 55',
          data: this.$store.getters.getPatientsAge46to55 
        }, {
          name: 'AGE 56 - 65',
          data: this.$store.getters.getPatientsAge56to65 
        }, {
          name: 'AGE 66 - 75',
          data: this.$store.getters.getPatientsAge66to75 
        }, {
          name: 'AGE 76 - 85',
          data: this.$store.getters.getPatientsAge76to85 
        }, {
          name: 'AGE 86 - 95',
          data: this.$store.getters.getPatientsAge86to95 
        }, {
          name: 'AGE 96 - 105',
          data: this.$store.getters.getPatientsAge96to105 
        }]
      }
    }
  }
}
</script>

<style scoped>

</style>
