<template>
  <main>
    <!-- <v-btn @click.once="fakeData">
      Populate DB
    </v-btn> -->
    <v-btn>
      Populate DB
    </v-btn>
  </main>

</template>

<script>

export default {
  methods: {
    fakeData: function () {
      let bloodgroup = ['A', 'B', 'AB', 'O']
      let holdData = []
      for (let i = 0; i < 101; i++) {
        holdData.push(
          {
            name: this.$faker().name.findName(),
            bloodGroup: bloodgroup[Math.floor(Math.random() * 4)],
            age: Math.floor(Math.random() * 101)
          }
        )
      }
      this.$store.dispatch('populatePatients', holdData)
    }
  }
}
</script>

<style>

</style>
