<template>
  <v-container>
    <v-card min-width="600" class="mx-auto" dark>
      <v-card-title class="headline mb-1">Blood group</v-card-title>
      <BarChart />
    </v-card>
    <FakerPop/>
  </v-container>
</template>

<script>
import BarChart from '@/components/BarChart'
import FakerPop from '@/components/FakerPop'

export default {
  data: () => ({
    collapseOnScroll: true
  }),
  components: {
    BarChart,
    FakerPop
  }
}
</script>

<style>
</style>
